{% extends "app/layout.html" %}

{% block content %}
{% csrf_token %}
<style type="text/css">

    body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
        margin-right:0px;
    }
    .modal {
        overflow:hidden;
    }
    .modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 550px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: hidden;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -550px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

    #filterMore {
        text-align: center;
        width: 70px;
        height: 70px;
        border: solid 1px #5d5c5c;
        background-color: #eee;
        border-radius: 100px;
    }
    #filterMore:hover {
        background-color: #ddd;
        cursor:pointer;
    }
    .gm-style-iw div {
        overflow:hidden !important;
    }


</style>

<a style="position:absolute; top: 60px; left: 20px; z-index:99" data-toggle="modal" data-target="#myModal">
    <div id="filterMore">
        <i style="top: calc(50% - 15px); position: relative; font-size: 30px; color: #5a5757;"class="fa fa-navicon"></i>
    </div>
</a>


<div class="container demo">

    <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Filter</h4>
				</div>

				<div class="modal-body">

                    <br />
                    <div class="form-group" style="display:table; width:100%;">
                        <label style="width:30%" class="col-md-2 control-label">Distance</label>
                        <div style="width:69.999%" class="col-md-10">
                            <input id="dist" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group" style="display:table; width:100%;">
                        <label style="width:30%" class="col-md-2 control-label">Hashtag</label>
                        <div style="width:69.999%" class="col-md-10">
                            <input id="tag" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group" style="display:table; width:100%;">
                        <label style="width:30%" class="col-md-2 control-label">Search Location</label>
                        <div style="width:69.999%" class="col-md-10">
                            <input id="loc" class="form-control" type="text">
                        </div>
                    </div>
                    <br />
                    <button type="button" style="margin-left:10px;" onclick="load_data();" class="btn btn-primary">Filter</button>
                
                
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->	
    <div id="map" style="height: 550px; margin-top: 10px; margin-left:40px;margin-right:40px;"></div>

    <script>
        //this is in a separate script tag because the django template variable was screwing up the IDE's colorizing of text. Somehow this fixed it.
        function marker_outside() {
            var return_pics = JSON.parse('{"results":{{ return_pics }} }');
            add_markers(return_pics);
        }
    </script>

    <script>
        var map;
        var query;
        var markersArray = [];
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 42.3601, lng: -71.057 },
                zoom: 13
            });
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            marker_outside();
        }

        function add_markers(res) {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
            var results = res.results;
            if (results != null && results.length > 0) {
                for (var i = 0; i < results.length; i++) {
                    var place = results[i];

                    var content = '<img id="pic" src=' + place.pic + ' style="max-height:350px;">';

                    var infowindow = new google.maps.InfoWindow();
                    var marker = new google.maps.Marker({
                        map: map,
                        position: { lat: place.lat, lng: place.long }
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                        return function () {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, content, infowindow));
                    markersArray.push(marker);
                }
            }
        }

        function load_data() {
            tag = document.getElementById('tag').value;
            dist = document.getElementById('dist').value;
            loc = document.getElementById('loc').value;
            $.ajax({
                type: "POST",
                url: "/",
                data: {
                    'tag': tag,
                    'dist': dist,
                    'loc': loc,
                },
                success: function (return_pics) {
                    add_markers(return_pics);
                }
            });
            return false;
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYwqirZB73zzrsHF3P7y0XZRX0df2c2TM&callback=initMap"
    async defer></script>
</div>

{% endblock %}
