{% extends "app/layout.html" %}

{% block content %}

<div id="download" class="w3-modal w3-animate-opacity" style="display: block;">
    <div class="w3-modal-content" style="padding:32px; width:600px;">
        <div class="w3-container w3-white">
            <h2 class="w3-wide">LOGIN</h2>
            <p>Please login with your Instagram account.</p>
            <hr class="w3-opacity" style="border-top: 1px solid #bdbcbc">
            <div>
                <a style="width:220px; margin:auto;" href="{% url 'social:begin' 'instagram' %}" class="btn btn-block btn-social btn-instagram"><span class="fa fa-instagram"></span> Sign in with Instagram</a>
            </div>
            <hr class="w3-opacity" style="border-top: 1px solid #bdbcbc">
        </div>
    </div>
</div>

<div id="map" style="height: 550px; margin-top: 10px;"></div>
<script>
    var map;
    var query;
    var markersArray = [];
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 42.3601, lng: -71.057 },
            zoom: 15
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYwqirZB73zzrsHF3P7y0XZRX0df2c2TM&callback=initMap" async defer></script>

<!--<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <a href="{% url 'social:begin' 'instagram' %}">Login with Instagram</a>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>-->

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
